version: '3.8'

services:
  con-ceylonchronicles:
    image: puleena/ceylonchrono
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    ports: 
      - 3000:3000
    env_file:
      - .env


# docker-compose up