services:
  - type: web
    name: ceylon-chronicles
    runtime: node
    plan: free
    branch: main
    buildCommand: npm install && npm run build
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 22.11.0
      - key: PINECONE_API_KEY
        sync: false
      - key: PINECONE_INDEX
        sync: false
      - key: HUGGINGFACE_API_KEY
        sync: false
      - key: GROQ_API_KEY
        sync: false
      - key: NODE_ENV
        value: production
