* {
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/background.png');
    background-size: cover;
    background-position: center;
}

main {
    width: 80vw;
    height: 80vh;
    background: linear-gradient(
        to bottom,
        rgba(244, 232, 200, 0.3),
        rgba(215, 196, 163, 1)
    );
    border-radius: 15px;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    color: #000000;
    font-weight: 500;
}

section {
    width : 100%;
}

section.poplated {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: scroll;
}

.startter-text {
    padding: 0 80px;
}

form {
    height: 50px;
    width: 100%;
    display: flex;
    border-top: #828282 solid 2px;
    padding-top: 20px;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

input.question-box {
    width: 85%;
    padding: 10px;
    font-size: 15px;
    color: #383838;
    border: none;
}

input[type=submit] {
    width: 15%;
    padding: 10px;
    font-size: 15px;
    border: none;
    color: #ffffffc7;
    background-color: #512e06;
}

input:focus {
    outline: none;
}

